@import "tailwindcss";

@font-face {
  font-family: "Vazirmatn";
  src: url(../fonts/Vazir/Vazirmatn-Regular.ttf);
}

@theme {
  --font-Vazirmatn: "Vazirmatn";
  --color-topbar-background: #132d35;
  --color-topbar-foreground: #d9f5ec;
  --color-border: #e5e7eb;
  --color-primary-text: #078c80;
  --color-hover-bg: #e9f3f1;
  --container-smd: 44rem;
  --hero-bg-position: center 30%;
}
